body{
        background-color: black;
        color: white;
}

#name{
    font-family: 'Indie Flower', cursive;
    
}

.card{
    background: url(./image/5053309.jpg);
    background-size: cover;
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    box-sizing: border-box; 
    margin: auto;
    margin-top: 300px;
}

a{
    color: white;
    text-decoration: none;
    list-style: none;
}

.link:hover{
    font-size: 150%;
}


